<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" autofocus>
        <mat-error *ngIf="memberForm.controls.firstName.hasError('minlength')">
            First Name is too short
        </mat-error>
        <mat-error *ngIf="memberForm.controls.firstName.hasError('required')">
            First Name is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="memberForm.controls.lastName.hasError('minlength')">
            Last Name is too short
        </mat-error>
        <mat-error *ngIf="memberForm.controls.lastName.hasError('required')">
            Last Name is required
        </mat-error>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of ['client', 'user']" [value]="role">
                {{role}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="memberForm.controls.role.hasError('required')">
            Role is required
        </mat-error>
    </mat-form-field>

    <button mat-raised-button>Submit</button>
</form>